@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-button {
  display: inline-block;
  padding: 8px 20px;
  color: #fff;
  background-color: #9c8253;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s ease;
}
.primary-button:hover {
  color: #9c8253;
  background-color: transparent;
  border: 1px solid #9c8253;
}

h2 {
  font-size: 46px;
  font-weight: 500;
  line-height: 60px;
}
h2.white-color {
  color: #fff;
}
@media (max-width: 959px) {
  h2 {
    font-size: 44px;
  }
}

p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero {
  width: 100%;
  height: 80vh;
  background-color: #9c8253;
}
.hero .swiper {
  width: 100%;
  height: 100%;
}
.hero .swiper .swiper-slide {
  position: relative;
}
.hero .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}
.hero .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background-color: transparent;
}
.hero .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.hero .swiper .swiper-pagination.swiper-pagination-horizontal {
  bottom: 20px;
}
.hero .hero-content {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-10%, -50%);
  max-width: 700px;
}
@media (max-width: 959px) {
  .hero .hero-content {
    left: 15%;
  }
}
.hero .hero-content p {
  color: #fff;
  margin-top: 20px;
}

header {
  background-color: #193d36;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
header .header-wrapper .header-logo {
  width: 130px;
  height: auto;
}
header .header-wrapper .header-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-wrapper .header-menu-items ul li {
  display: inline;
  padding: 0px 10px;
}
header .header-wrapper .header-menu-items ul li a {
  color: white;
  font-size: 14px;
  transition: color 0.2s ease;
}
header .header-wrapper .header-menu-items ul li a:hover {
  color: #9c8253;
}
@media (max-width: 959px) {
  header .header-wrapper .header-menu-items {
    display: none;
  }
}
header .header-wrapper .hamberger {
  display: none;
}
header .header-wrapper .hamberger i {
  color: white;
  font-size: 25px;
}
@media (max-width: 959px) {
  header .header-wrapper .hamberger {
    display: block;
  }
}

.mobile-menu {
  display: none;
  width: 100%;
  transition: 0.3s all ease-in-out;
  background-color: #193d36;
}
.mobile-menu ul a {
  color: white;
}

.mobile-menu.active {
  position: fixed;
  top: 100px;
  z-index: 999;
  display: block;
  margin: -5px 0;
}

footer {
  background-color: #9c8253;
}
footer p {
  color: white;
}
footer h4 {
  color: #fbe0af;
}
footer .footer-logo {
  width: 250px;
  height: auto;
}
footer .footer-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .quick-links p {
  margin-bottom: 8px;
}
footer .quick-links p a {
  color: white;
  font-size: 15px;
}
footer .enquiry p {
  display: flex;
  align-items: center;
}
footer .enquiry p span {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .enquiry p span i {
  color: #9c8253;
  font-size: 12px;
}
footer .enquiry ul {
  display: flex;
  gap: 5px;
}
footer .enquiry ul li a {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .enquiry ul li a i {
  color: #9c8253;
  font-size: 12px;
}

#vision .vision-img {
  width: 90%;
  height: auto;
  position: relative;
}
#vision .vision-img::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 90%;
  background-image: url("/images/logo/logo-element.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -9;
  opacity: 0.2;
}
#vision .vision-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 9999;
}
#vision h4 {
  font-size: 40px;
  position: relative;
  margin-bottom: 24px;
  z-index: 99;
}
#vision h4::before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 90px;
  height: 3px;
  background-color: #9c8253;
}
#vision h4::after {
  content: "VISION";
  position: absolute;
  top: -48px;
  left: -173px;
  color: rgb(164, 161, 161);
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(164, 161, 161);
  font-size: 90px;
  z-index: -9;
  opacity: 0.4;
}
#vision p {
  text-align: justify;
}
