h2{
    font-size: 46px;
    font-weight: 500;
    line-height: 60px;
    &.white-color{
        color: $white-color;
    }
    @include respond-below('md'){
        font-size: 33px;
    }
}
p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.main-heading{
    position: relative;
    text-align: center;
    margin: 15px 0px;
    font-size: 33px;
   
}