h2{
    font-size: 46px;
    font-weight: 500;
    line-height: 60px;
    &.white-color{
        color: $white-color;
    }
    @include respond-below('md'){
        font-size: 44px;
    }
}
p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}
footer {
    p {
        color: $white-color;
    }
    .foot {

        p {
            font-size: 12px;
        }
    }
    h4 {
        color: #fbe0af;
    }
}